modules = ["nodejs-20", "web", "postgresql-16", "python-3.11", "python3"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["gitFull", "glibcLocales", "jq", "playwright-driver", "chromium", "nss", "glib", "atk", "cups", "at-spi2-atk", "gtk3", "pango", "libdrm", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXrandr", "mesa", "expat", "alsa-lib", "nspr"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Run"
author = 46016172
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34447
externalPort = 3003

[[ports]]
localPort = 34643
externalPort = 3000

[[ports]]
localPort = 40223
externalPort = 4200

[[ports]]
localPort = 41511
externalPort = 3001

[[ports]]
localPort = 42461
externalPort = 6000

[[ports]]
localPort = 43297
externalPort = 5000

[[ports]]
localPort = 45645
externalPort = 5173

[[ports]]
localPort = 46629
externalPort = 3002

[agent]
integrations = ["javascript_openai:1.0.0", "javascript_gemini:1.0.0"]
expertMode = true

[objectStorage]
defaultBucketID = "replit-objstore-de6c58a6-b4f1-4ccd-8165-11037524c945"
